@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* .text-stroke {
  -webkit-text-stroke: 1px #171717;
} */

.text-stroke {
  -webkit-text-stroke: 2px transparent; /* Stroke width */
  background-clip: text;
  -webkit-background-clip: text;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
